.loader {
    color: var(--color-button);
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: calc(78 * 1.5px);
    opacity: 0.8;
    margin: 5rem 0;

    &:before {
        content: '{';
        display: inline-block;
        animation: pulse-spinner 0.4s alternate infinite ease-in-out;
    }

    &:after {
        content: '}';
        display: inline-block;
        animation: pulse-spinner 0.4s 0.3s alternate infinite ease-in-out;
    }

    @media (width<=450px) {
        font-size: calc(78 * 1.2px);
    }
}

@keyframes pulse-spinner {
    to {
        transform: scale(0.8);
        opacity: 0.65;
    }
}